// Global attributes
$font-family-base: 'Quicksand', sans-serif;

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

// Navbar
$navbar-brand-font-size: 2.5rem;
$nav-link-font-size: 1.25rem;

// Fade in effect
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); // Slight upward slide
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin fade-in($duration: 0.5s, $delay: 0s) {
  animation: fadeIn $duration ease-out $delay forwards;
}

// Home (summary)
#home {
  min-height: 100vh; // Takes up the entire screen vertically

  display: flex;
  justify-content: center;
  align-items: center;

  @include fade-in(0.8s, 0.2s);
}

// Heading stuff
$headings-font-weight: bold;

h1,
h2 {
  padding-top: 2em;
}

hr.heading-divider {
  margin: 2em auto;
  width: 7%;
  min-width: 2em;
  border-bottom-width: 3px;
  border-color: black;
  opacity: 100%;
}

// Card
.MuiCard-root {
  code {
    color: white;
    font-weight: bold;
  }
}

.experience-card {
  margin: 3em;

  &.row {
    display: flex;
    align-items: center;
  }
}

.left-pane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 250px; // Optional: keeps the pane from getting too squished
  margin-right: 10%;

  .icon-stack {
    gap: 2px;

    .stack-item {
      display: flex;
      align-items: center; // Vertically centers icon with text
      justify-content: flex-start;

      svg {
        width: 20px;
        margin-right: 5px; // Space between icon and description
        flex-shrink: 0; // Prevents icon from shrinking
      }

      span {
        p {
          margin: 0;
        }

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.right-pane {
  border-left: 1px solid #eee;
  text-align: left;
  padding-left: 5% !important;
}

// Picture stuff in the `Education` section
.instagram-crop-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.instagram-mask {
  width: 328px; // Standard Instagram embed width
  height: var(--mask-height, 328px);
  overflow: hidden; // Hides the profile header and footer
  border: 1px solid black;
  position: relative;
  margin: 1px;

  iframe {
    margin-top: -54px !important; // Pulls the image up to hide the header
  }
}

footer {
  padding-top: 3em;
  text-align: center;
}

@import '~bootstrap/scss/bootstrap';