$font-family-base: 'Quicksand', sans-serif;

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

$headings-font-weight: bold;
h1, h2 {
  padding-top: 2em;
}
hr.heading-divider {
  margin: 2em auto;
  width: 10%;
  border-bottom-width: 3px;
  border-color: black;
  opacity: 100%;
}

footer {
  padding-top: 3em;
  text-align: center;
}

@import '~bootstrap/scss/bootstrap';
@import 'Navbar.scss';