@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap);

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: Quicksand, sans-serif
}

#experience {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#projects {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#contact {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

footer {
  text-align: center;
}